<header>
      <div class="container header-container">
        <a class="logo" href="./index.html"
          ><img src="./img/logo.svg" alt="logo" width="66" height="52"
        /></a>
        <nav class="navigation">
          <ul class="nav-list">
            <li><a class="nav-link" href="">Home</a></li>
            <li><a class="nav-link" href="">About</a></li>
            <li><a class="nav-link" href="">Service</a></li>
            <li><a class="nav-link" href="">Menu</a></li>
            <li><a class="nav-link" href="">Contact</a></li>
          </ul>
        </nav>
        <button class="header-btn" type="button">Order now</button>
      </div>
    </header>