<header>
  <div class="header-container">
    <a class="logo" href="./index.html"
      ><img src="./img/logo.svg" alt="logo" width="66" height="52"
    /></a>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a class="nav-link" href="">Home</a></li>
        <li><a class="nav-link" href="">About</a></li>
        <li><a class="nav-link" href="">Service</a></li>
        <li><a class="nav-link" href="">Menu</a></li>
        <li><a class="nav-link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Order now</button>
    <button
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="hamburger" width="32px" height="22px">
              <use href="./img/icons.svg#icon-hamburger"></use>
            </svg>
          </button>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="js-close-menu close-button mobile-close-button">
        <svg width="10" height="10">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>

      <ul class="mobile-navs">
        <li class="mobile-nav"><a href="./index.html">Home</a></li>
        <li class="mobile-nav"><a href="">About</a></li>
        <li class="mobile-nav"><a href="">Service</a></li>
        <li class="mobile-nav"><a href="">Menu</a></li>
        <li class="mobile-nav"><a href="">Contact</a></li>
      </ul>
</div>
