<section class="subscribe-section">
  <div class="subscribe-image container">
    <img
      class="subscribe-image"
      src="./img/banan-min.png"
      alt="banan"
      width="608"
      height="266"
    />
  </div>
  <div class="subscribe-container container">
    <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
    <p class="subscribe-text">
      Order now and receive 10% off your first meal with Enjoy Your Favorite
      Food From Anywhere.
    </p>
    <form class="subscribe-form">
      <label class="subscribe-label">
        <input
          class="subscribe-input"
          type="text"
          placeholder="Enter your email"
        />
      </label>
      <div class="btn-container">
        <button class="subscribe-btn" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
