.favorites-section {
    /* test */
}

.favorites-container {}

.favorites-title {}

.fovorites-text {}

.favorites-list-wrap {
    display: flex;
}

.fovorites-list {
    list-style: none;
    /* test */
}

.favorites-item {}

.favorites-image {}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
}